@model Teacher

@{
    ViewData["Title"] = "DeleteTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="Teacher" asp-action="RealDeleteTeacher" asp-route-id="@Model.HumanId" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-12">
            <h5 class="form-title"><span>Teacher Information</span></h5>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Teacher Full Name: @Model.FirstandSecondName</label>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Teacher Lastname: @Model.Lastname</label>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Gender:@Model.Gender</label>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Class:@Model.Classs</label>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Email:@Model.Email</label>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Join Date:@Model.JoinDate.ToShortDateString()</label>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label>Phone Number:@Model.PhoneNumber</label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </div>
</form>

